/* ./styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: Euclid;
    src: url(/fonts/Euclid-Circular/Euclid-Circular-B-Bold.ttf), format('ttf');
  }
  /* manrope-200 - latin */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/Manropemanrope-v12-latin-200.eot');
    /* IE9 Compat Modes */
    src: local(''),
      url('/fonts/Manropemanrope-v12-latin-200.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 */ url('/fonts/Manropemanrope-v12-latin-200.woff2') format('woff2'),
      /* Super Modern Browsers */ url('/fonts/Manropemanrope-v12-latin-200.woff') format('woff'),
      /* Modern Browsers */ url('/fonts/Manropemanrope-v12-latin-200.ttf') format('truetype'),
      /* Safari, Android, iOS */ url('/fonts/Manropemanrope-v12-latin-200.svg#Manrope')
        format('svg');
    /* Legacy iOS */
  }
  /* manrope-300 - latin */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/Manropemanrope-v12-latin-300.eot');
    /* IE9 Compat Modes */
    src: local(''),
      url('/fonts/Manropemanrope-v12-latin-300.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 */ url('/fonts/Manropemanrope-v12-latin-300.woff2') format('woff2'),
      /* Super Modern Browsers */ url('/fonts/Manropemanrope-v12-latin-300.woff') format('woff'),
      /* Modern Browsers */ url('/fonts/Manropemanrope-v12-latin-300.ttf') format('truetype'),
      /* Safari, Android, iOS */ url('/fonts/Manropemanrope-v12-latin-300.svg#Manrope')
        format('svg');
    /* Legacy iOS */
  }
  /* manrope-regular - latin */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Manropemanrope-v12-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
      url('/fonts/Manropemanrope-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 */ url('/fonts/Manropemanrope-v12-latin-regular.woff2') format('woff2'),
      /* Super Modern Browsers */ url('/fonts/Manropemanrope-v12-latin-regular.woff') format('woff'),
      /* Modern Browsers */ url('/fonts/Manropemanrope-v12-latin-regular.ttf') format('truetype'),
      /* Safari, Android, iOS */ url('/fonts/Manropemanrope-v12-latin-regular.svg#Manrope')
        format('svg');
    /* Legacy iOS */
  }
  /* manrope-500 - latin */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Manropemanrope-v12-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
      url('/fonts/Manropemanrope-v12-latin-500.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 */ url('/fonts/Manropemanrope-v12-latin-500.woff2') format('woff2'),
      /* Super Modern Browsers */ url('/fonts/Manropemanrope-v12-latin-500.woff') format('woff'),
      /* Modern Browsers */ url('/fonts/Manropemanrope-v12-latin-500.ttf') format('truetype'),
      /* Safari, Android, iOS */ url('/fonts/Manropemanrope-v12-latin-500.svg#Manrope')
        format('svg');
    /* Legacy iOS */
  }
  /* manrope-600 - latin */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/Manropemanrope-v12-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''),
      url('/fonts/Manropemanrope-v12-latin-600.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 */ url('/fonts/Manropemanrope-v12-latin-600.woff2') format('woff2'),
      /* Super Modern Browsers */ url('/fonts/Manropemanrope-v12-latin-600.woff') format('woff'),
      /* Modern Browsers */ url('/fonts/Manropemanrope-v12-latin-600.ttf') format('truetype'),
      /* Safari, Android, iOS */ url('/fonts/Manropemanrope-v12-latin-600.svg#Manrope')
        format('svg');
    /* Legacy iOS */
  }
  /* manrope-700 - latin */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Manropemanrope-v12-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
      url('/fonts/Manropemanrope-v12-latin-700.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 */ url('/fonts/Manropemanrope-v12-latin-700.woff2') format('woff2'),
      /* Super Modern Browsers */ url('/fonts/Manropemanrope-v12-latin-700.woff') format('woff'),
      /* Modern Browsers */ url('/fonts/Manropemanrope-v12-latin-700.ttf') format('truetype'),
      /* Safari, Android, iOS */ url('/fonts/Manropemanrope-v12-latin-700.svg#Manrope')
        format('svg');
    /* Legacy iOS */
  }
  /* manrope-800 - latin */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/Manropemanrope-v12-latin-800.eot');
    /* IE9 Compat Modes */
    src: local(''),
      url('/fonts/Manropemanrope-v12-latin-800.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 */ url('/fonts/Manropemanrope-v12-latin-800.woff2') format('woff2'),
      /* Super Modern Browsers */ url('/fonts/Manropemanrope-v12-latin-800.woff') format('woff'),
      /* Modern Browsers */ url('/fonts/Manropemanrope-v12-latin-800.ttf') format('truetype'),
      /* Safari, Android, iOS */ url('/fonts/Manropemanrope-v12-latin-800.svg#Manrope')
        format('svg');
    /* Legacy iOS */
  }
}

@layer components {
  .btn {
    @apply font-primary font-bold leading-8 rounded-lg;
  }
  .btn--large {
    @apply btn px-5 py-2 text-lg;
  }
  .btn--small {
    @apply btn px-3 py-1;
  }
  .btn-primary {
    @apply btn--large text-white bg-orange-dark;
  }
  .btn-primary--small {
    @apply btn--small text-white bg-orange-dark;
  }
  .btn-primary--negative {
    @apply btn--large bg-white text-orange-dark;
  }
  .btn-primary--negative--small {
    @apply btn--small bg-white text-orange-dark;
  }
  .slick-prev:before {
    background-color: blue !important;
    width: 46px;
    height: 46px;
    content: '' !important;
    position: absolute;
    top: -11px;
    left: -31px;
    background-image: url('http://lorempixel.com/50/50');
  }

  .slideshow-slick .slick-dots {
    @apply rounded-t-lg rounded-b-lg;
  }
  .slideshow-slick .slick-dots li.slick-active button {
    @apply bg-teal-400;
  }
  .slideshow-slick .slick-dots li button {
    @apply w-full h-full p-1 mt-2 before:hidden bg-teal-500 rounded-full;
  }
}
